@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.alert alert-warning{
    width: 100%;
    height:40px;
    background-color: rgba(196, 83, 83, 0.582);
    position:fixed;
    border-left: 4px solid red;
}
